
body{
    font-family: "Nunito";

    /*style the canvas - https://github.com/processing/p5.js/wiki/Positioning-your-canvas*/
    
     /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}
#chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    float: left;
}
#window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}
#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}
#feeback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}
#output strong{
    color: #575ed8;
}
label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}
input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}
button{
    background: #000088;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
} 
.leftContainer{
    background-color: aqua;
}

/*Tab stuff*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #555;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*Style Palette Buttons*/
#redBtn{
    background-color: #f44336;
    width: 32%;
}
#greenBtn{
    background-color: #4CAF50; 
    width: 32%;

}
#blueBtn{
    background-color: #008CBA;
    width: 32%;

}
